page-uselocation-popover {
    p{
        padding: 10px;
        margin:0px;
        color: #797979;
        font-size: 18px;
        .icon{
            margin-right:10px;
            font-size: 20px;
        }
    }
}
